name: Combine bindings
description: 'composite run action'

runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

#    - uses: actions/download-artifact@v4
#      with:
#        name: v108-macosx_aarch64.build

    - uses: actions/download-artifact@v4
      with:
        name: v108-macosx_x86_64.build

#    - uses: actions/download-artifact@v4
#      with:
#        name: v115-macosx_aarch64.build

    - uses: actions/download-artifact@v4
      with:
        name: v115-macosx_x86_64.build

#    - uses: actions/download-artifact@v4
#      with:
#        name: v120-macosx_aarch64.build

    - uses: actions/download-artifact@v4
      with:
        name: v120-macosx_x86_64.build

    - uses: actions/download-artifact@v4
      with:
        name: v108-manylinux_x86_64.build

#    - uses: actions/download-artifact@v4
#      with:
#        name: v108-manylinux_aarch64.build

    - uses: actions/download-artifact@v4
      with:
        name: v115-manylinux_x86_64.build

#    - uses: actions/download-artifact@v4
#      with:
#        name: v115-manylinux_aarch64.build

    - uses: actions/download-artifact@v4
      with:
        name: v120-manylinux_x86_64.build

#    - uses: actions/download-artifact@v4
#      with:
#        name: v120-manylinux_aarch64.build

    - name: Install client
      shell: bash
      run: |
        mkdir -p lib/binding/node-v108-darwin-arm64 lib/binding/node-v115-darwin-arm64 lib/binding/node-v120-darwin-arm64
        mkdir -p lib/binding/openssl@3/node-v108-linux-arm64 lib/binding/openssl@3/node-v115-linux-arm64 lib/binding/openssl@3/node-v120-linux-arm64
        mkdir -p lib/binding/openssl@1/node-v108-linux-arm64 lib/binding/openssl@1/node-v115-linux-arm64 lib/binding/openssl@1/node-v120-linux-arm64
        mkdir -p lib/binding/openssl@1/node-v108-linux-x64 lib/binding/openssl@1/node-v115-linux-x64 lib/binding/openssl@1/node-v120-linux-x64        
        cp -r node-v108-linux-x64 lib/binding/openssl@3/node-v108-linux-x64
        cp -r node-v115-linux-x64 lib/binding/openssl@3/node-v115-linux-x64
        cp -r node-v120-linux-x64 lib/binding/openssl@3/node-v120-linux-x64
        cp -r node-v108-darwin-x64 lib/binding/node-v108-darwin-x64
        cp -r node-v115-darwin-x64 lib/binding/node-v115-darwin-x64
        cp -r node-v120-darwin-x64 lib/binding/node-v120-darwin-x64

#        cp -r node-v108-linux-arm64 lib/binding/node-v108-linux-arm64
#        cp -r node-v115-linux-arm64 lib/binding/node-v115-linux-arm64
#        cp -r node-v120-linux-arm64 lib/binding/node-v120-linux-arm64
#        cp -r node-v108-darwin-arm64 lib/binding/node-v108-darwin-arm64
#        cp -r node-v115-darwin-arm64 lib/binding/node-v115-darwin-arm64
#        cp -r node-v120-darwin-arm64 lib/binding/node-v120-darwin-arm64



