image:
   - Visual Studio 2017
   - Visual Studio 2019
   - Visual Studio 2022
platform: x64
environment:
  matrix:
    - nodejs_version: "19"
    - nodejs_version: "18"
    - nodejs_version: "16"
    - nodejs_version: "14"

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - git submodule update --init --recursive
  - npm install
  
build: off
test_script:
  - set GLOBAL_CLIENT=false
  - npm test -- --grep "#noserver"

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
