.DS_Store
.nyc_output/
.vscode/
lib/binding
.idea/
build/
node_modules/
coverage/
npm-debug.log
test.log
aerospike-*.tgz
scripts/build-c-client.sh-output.txt
libuv*
docs*
ts-test/dist
ts-test/metrics-*
ts-test/metrics_sub_dir/metrics-*
ts-test/node_modules/
ts-test/metrics_sub_dir/*/*
ts-test/features.conf
scripts/build-c-client.sh-cclient-output.log
tsconfig.tsbuildinfos