language: node_js
node_js:
- 'node'
- '12'
- '10'
- '8'
env:
  global:
    - CXX=g++-4.8
    - AEROSPIKE_HOSTS=127.0.0.1:3000,127.0.0.1:3100
    - OPTIONS="--timeout 2000"
sudo: false
os:
- linux
dist: trusty
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - autoconf
before_script:
- .travis/start_cluster.sh 2
install:
- npm install
script:
- npm run coverage
after_script:
- npm run codecov
notifications:
  email:
  - qe-notices@aerospike.com
  - qe-notices-clients@aerospike.com
  slack:
    secure: BMIMHhqOMQnP7STsq/5WDoTKUlvB0pWCn6g6YnqKmVN2v2tMoTIBEmJlleMXBEL+0Ou4dLUmTmQKzzpiAw9tXtvgIjVh3luE+tM2QLJfwLqGshRemqwtF7DSzv5+UYEiZh0g18pQrk3HUJdD7BkU1LKkdjorgxC4rsnt+7Iz8Z0=
