name: 'Build wheels'
run-name: 'Build wheels (nodejs-tags=${{ inputs.nodejs-tags }}, platform-tag=${{ inputs.platform-tag }}, run_tests=${{ inputs.run_tests }}, use-server-rc=${{ inputs.use-server-rc }}, server-tag=${{ inputs.server-tag }})'

# Build wheels on all (or select) Python versions supported by the Python client for a specific platform

permissions:
  # This is required for requesting the OIDC token
  id-token: write

on:
  workflow_dispatch:
    inputs:
      # These are the usual cases for building wheels:
      #
      # 1. One wheel for *one* supported Python version. This is for running specialized tests that only need one Python version
      # like valgrind or a failing QE test. And usually, we only need one wheel for debugging purposes.
      # 2. Wheels for *all* supported Python versions for *one* supported platform. This is useful for testing workflow changes for a
      # single OS or CPU architecture (e.g testing that changes to debugging modes work on all Python versions)
      # 3. Wheels for *all* supported Python versions and *all* supported platforms. This is for building wheels for different
      # CI/CD stages (e.g dev, stage, or master). We can also test debugging modes for all platforms that support them
      #
      # We're able to combine case 1 and 2 into one workflow by creating an input that takes in a JSON list of strings (Python tags)
      # to build wheels for. Actual list inputs aren't supported yet, so it's actually a JSON list encoded as a string.
      #
      # However, it's harder to combine this workflow (case 1 + 2) with case 3, because matrix outputs don't exist yet
      # in Github Actions. So all jobs in the cibuildwheel job would have to pass for a self hosted job to run.
      # We want each platform to be tested independently of each other,
      # so there is a wrapper workflow that has a list of platforms to test and reuses this workflow for each platform.
      # If one platform fails, it will not affect the building and testing of another platform (we disable fail fast mode)
      nodejs-tags:
        type: string
        description: Valid JSON list of Nodejs tags to build the client for
        required: false
        default: '[["v115", "20"], ["v127", "22"], ["v137", "24"]]'
      version:
        type: string
        required: true
      platform-tag:
        description: Platform to build the client for.
        type: choice
        required: true
        options:
        - manylinux_x86_64
        - manylinux_aarch64
        - macosx_x86_64
        - macosx_arm64
        - win_amd64
        # Makes debugging via gh cli easier.
        default: manylinux_x86_64
      run_tests:
        description: 'Run Aerospike server and run tests using built wheels?'
        type: boolean
        required: false
        default: false
      use-server-rc:
        type: boolean
        required: true
        default: false
        description: 'Test against server release candidate?'
      server-tag:
        required: true
        default: 'latest'
        description: 'Server docker image tag'
      test-file:
        required: false
        default: ''
        description: 'new_tests/<value>'

  workflow_call:
    inputs:
      # See workflow call hack in update-version.yml
      is_workflow_call:
        type: boolean
        default: true
        required: false
      nodejs-tags:
        type: string
        required: false
        default: '[["v115", "20"], ["v127", "22"], ["v137", "24"]]'
      version:
        type: string
        required: true
      platform-tag:
        type: string
        required: true
      run_tests:
        type: boolean
        required: false
        default: false
      use-server-rc:
        required: false
        type: boolean
        default: false
        description: 'Test against server release candidate?'
      server-tag:
        required: false
        type: string
        default: 'latest'
        description: 'Server docker image tag'
      test-file:
        required: false
        type: string
        default: ''
    secrets:
      # Just make all the secrets required to make things simpler...
      DOCKER_HUB_BOT_USERNAME:
        required: true
      DOCKER_HUB_BOT_PW:
        required: true
      MAC_M1_SELF_HOSTED_RUNNER_PW:
        required: true

jobs:
  # Maps don't exist in Github Actions, so we have to store the map using a script and fetch it in a job
  # This uses up more billing minutes (rounded up to 1 minute for each job run),
  # but this should be ok based on the minutes usage data for the aerospike organization
  get-runner-os:
    outputs:
      runner-os: ${{ steps.get-runner-os.outputs.runner_os }}
    runs-on: ubuntu-22.04
    steps:
    - id: get-runner-os
      # Single source of truth for which runner OS to use for each platform tag
      run: |
        declare -A hashmap
        hashmap[manylinux_x86_64]="ubuntu-22.04"
        hashmap[manylinux_aarch64]="ubuntu-22.04-arm"
        hashmap[macosx_x86_64]="macos-13-large"
        hashmap[macosx_arm64]="SMA2"
        hashmap[win_amd64]="windows-2022"
        echo runner_os=${hashmap[${{ inputs.platform-tag }}]} >> $GITHUB_OUTPUT
      # Bash >= 4 supports hashmaps
      shell: bash


  cibuildbinding:
    needs: get-runner-os
    strategy:
      matrix:
        nodejs-tag: ${{ fromJSON(inputs.nodejs-tags) }}
      fail-fast: false
    runs-on: ${{ needs.get-runner-os.outputs.runner-os }}
    env:
      BUILD_IDENTIFIER: "${{ matrix.nodejs-tag[0] }}-${{ inputs.platform-tag }}"
      MACOS_OPENSSL_VERSION: 3
    steps:
    - name: Create status check message
      run: echo STATUS_CHECK_MESSAGE="cibuildbinding (${{ env.BUILD_IDENTIFIER }})" >> $GITHUB_ENV
      shell: bash

    - name: Show job status for commit
      uses: myrotvorets/set-commit-status-action@v2.0.0
      if: ${{ github.event_name != 'push' && github.event_name != 'pull_request' }}
      with:
        sha: ${{ env.COMMIT_SHA_TO_BUILD_AND_TEST }}
        context: ${{ env.STATUS_CHECK_MESSAGE }}

    - name: Delete workspace
      if: ${{ inputs.platform-tag != 'win_amd64' }}
      run: rm -rf ${{ github.workspace }}/*


    - uses: actions/checkout@v4
      with:
        submodules: recursive
        ref: ${{ env.COMMIT_SHA_TO_BUILD_AND_TEST }}
        # We need the last tag before the ref, so we can relabel the version if needed
        fetch-depth: 0


    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.nodejs-tag[1] }}

    - name: 'Windows: Install C client deps'
      if: ${{ inputs.platform-tag == 'win_amd64' }}
      run: nuget restore
      working-directory: aerospike-client-c/vs

    #- name: 'macOS x86: Setup Docker using colima for testing'
    #  if: ${{ inputs.platform-tag == 'macosx_x86_64' }}
    #  uses: ./.github/actions/setup-docker-on-macos

    #- name: 'macOS x86: run Aerospike server in Docker container and connect via localhost'
    #  if: ${{ inputs.platform-tag == 'macosx_x86_64' }}
    #  uses: ./.github/actions/run-ee-server-for-ext-container
    #  with:
    #    use-server-rc: ${{ inputs.use-server-rc }}
    #    server-tag: ${{ inputs.server-tag }}
    #    docker-hub-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
    #    docker-hub-password: ${{ secrets.DOCKER_HUB_BOT_PW }}

    #- name: Remove aerospike docker image
    #  if: ${{ inputs.run_tests && inputs.platform-tag == 'manylinux_x86_64'}}
    #  run: |
    #    if docker ps -aq | grep -q .; then
    #      docker rm -f $(docker ps -aq) || echo "Failed to remove one or more containers."
    #    else
    #      echo "No containers to remove."
    #    fi

    ## TODO: combine this composite action and the above into one
    #- name: "Linux: run Aerospike server in Docker container and configure config.conf to connect to the server container's Docker IP address"
    #  if: ${{ inputs.run_tests && inputs.platform-tag == 'manylinux_x86_64'}}
    #  uses: ./.github/actions/run-ee-server-for-ext-container
    #  with:
    #    use-server-rc: ${{ inputs.use-server-rc }}
    #    server-tag: ${{ inputs.server-tag }}
    #    docker-hub-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
    #    docker-hub-password: ${{ secrets.DOCKER_HUB_BOT_PW }}

    # FIND NO SERVER TESTS AND RUN THEM
    #
    #- name: If not running tests against server, only run basic import test
    #  if: ${{ env.RUN_INTEGRATION_TESTS_IN_CIBW == 'false' }}
    #  # Use double quotes otherwise Windows will throw this error in cibuildwheel
    #  # 'import
    #  #       ^
    #  # SyntaxError: EOL while scanning string literal
    #  run: echo "TEST_COMMAND=python -c \"import aerospike\"" >> $GITHUB_ENV
    #  shell: bash

    #- name: Otherwise, enable integration tests
    #  if: ${{ env.RUN_INTEGRATION_TESTS_IN_CIBW == 'true' }}
    #  run: echo "TEST_COMMAND=cd ts-test;
    #    npm install typescript --save-dev;
    #    npx tsc;
    #    cd ..;
    #    npm run test dist/ -- --h 127.0.0.1 --port 3000" >> $GITHUB_ENV
    #  shell: bash

    - name: 'Install libyaml'
      if: ${{ inputs.platform-tag == 'macosx_x86_64' }}
      #if: ${{ inputs.platform-tag == 'macosx_x86_64' || inputs.platform-tag == 'macosx_arm64' }}
      run: |
        brew install libyaml

    - name: Replace AdditionalLibraryDirectories line in props file
      if: ${{ inputs.platform-tag == 'win_amd64' }}
      run: |
        $path = "props\nodejs.props"
        $content = Get-Content $path -Raw
        $pattern = '<AdditionalLibraryDirectories>.*?</AdditionalLibraryDirectories>'
        $basePath = (Resolve-Path .).Path
        $replacement = "<AdditionalLibraryDirectories>`$(NodejsPath);$basePath\packages\openssl-native.3.0.16\lib\win-x64\native;`%(AdditionalIncludeDirectories)</AdditionalLibraryDirectories>"
        $updated = [System.Text.RegularExpressions.Regex]::Replace($content, $pattern, $replacement, 'Singleline')
        Set-Content $path $updated
      working-directory: aerospike-client-c/vs

    - name: Print modified .props file
      if: ${{ inputs.platform-tag == 'win_amd64' }}
      run: |
        Get-Content "props\nodejs.props"
      working-directory: aerospike-client-c/vs

    - name: Build Binding
      run: |
        ./scripts/build-c-client.sh;
        npm install;
        ls lib/binding;


    #- name: Debug server
    #  run: |
    #    docker ps;
    #    docker logs aerospike;

    - name: Run tests
      if: ${{ inputs.run_tests }}
      run: |
        cd ts-test;
        npm install;
        npx tsc;
        cd ..;
        npx tsc;
        npm run test dist/${{ inputs.test-file }} -- --h 172.17.0.2 --port 3000 --U superuser --P superuser;


    #- name: Run tests
    #  if: ${{ inputs.run_tests && inputs.platform-tag == 'macosx_x86_64'}}
    #  run: |
    #    docker ps;
    #    docker logs aerospike;
    #    cd ts-test;
    #    npm install;
    #    npx tsc;
    #    cd ..;
    #    npx tsc;
    #    npm run test dist/${{ inputs.test-file }} -- --h localhost --port 3000  --t 15000 --U superuser --P superuser;

    - name: Set up JFrog credentials
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://aerospike.jfrog.io
      with:
        oidc-provider-name: gh-aerospike-clients
        oidc-audience: aerospike/clients

    - name: Upload binding binaries to JFrog Linux x86
      if: ${{ inputs.platform-tag == 'manylinux_x86_64' }}
      run: |
        jf rt upload --build-name nodejs-client --build-number ${{ env.NEW_VERSION }} "./node-${{ matrix.nodejs-tag[0] }}-linux-x64/aerospike.node" clients-npm-dev-local/aerospike/${{ env.NEW_VERSION }}/
      env:
        NEW_VERSION: ${{ inputs.version }}
      working-directory: lib/binding

    - name: Upload binding binaries to JFrog Linux aarch64
      if: ${{ inputs.platform-tag == 'manylinux_aarch64' }}
      run: |
        jf rt upload --build-name nodejs-client --build-number ${{ env.NEW_VERSION }} "./node-${{ matrix.nodejs-tag[0] }}-linux-arm64/aerospike.node" clients-npm-dev-local/aerospike/${{ env.NEW_VERSION }}/
      env:
        NEW_VERSION: ${{ inputs.version }}
      working-directory: lib/binding

    - name: Upload binding binaries to JFrog darwin x86
      if: ${{ inputs.platform-tag == 'macosx_x86_64' }}
      run: |
        jf rt upload --build-name nodejs-client --build-number ${{ env.NEW_VERSION }} "./node-${{ matrix.nodejs-tag[0] }}-darwin-x64/aerospike.node" clients-npm-dev-local/aerospike/${{ env.NEW_VERSION }}/
      env:
        NEW_VERSION: ${{ inputs.version }}
      working-directory: lib/binding

    - name: Upload binding binaries to JFrog darwin aarch64
      if: ${{ inputs.platform-tag == 'macosx_arm64' }}
      run: |
        jf rt upload --build-name nodejs-client --build-number ${{ env.NEW_VERSION }} "./node-${{ matrix.nodejs-tag[0] }}-darwin-arm64/aerospike.node" clients-npm-dev-local/aerospike/${{ env.NEW_VERSION }}/
      env:
        NEW_VERSION: ${{ inputs.version }}
      working-directory: lib/binding

    - name: Cleanup Artifacts
      if: ${{ inputs.platform-tag == 'win_amd64' }}
      shell: pwsh
      run: |
        Copy-Item -Path "aerospike-client-c\vs\packages\openssl-native.3.0.16\lib\win-x64\native\libssl.lib" -Destination "build\Release\libssl.lib" -Force
        Copy-Item -Path "aerospike-client-c\vs\packages\openssl-native.3.0.16\lib\win-x64\native\libcrypto.lib" -Destination "build\Release\libcrypto.lib" -Force
        Remove-Item -Recurse -Force .\build\release\obj
        Remove-Item -Force .\build\release\aerospike.pdb
        Remove-Item -Force .\build\release\aerospike.ipdb
        Remove-Item -Force .\build\release\aerospike.iobj

    - name: Upload binding binaries to JFrog windows x86
      if: ${{ inputs.platform-tag == 'win_amd64' }}
      run: |
        jf rt upload --build-name nodejs-client --build-number ${{ env.NEW_VERSION }} "./*" clients-npm-dev-local/aerospike/${{ env.NEW_VERSION }}/node-${{ matrix.nodejs-tag[0] }}-win32-x64/
      env:
        NEW_VERSION: ${{ inputs.version }}
      working-directory: build/Release/

    - name: Set final commit status
      uses: myrotvorets/set-commit-status-action@v2.0.0
      if: ${{ always() && github.event_name != 'push' && github.event_name != 'pull_request' }}
      with:
        sha: ${{ env.COMMIT_SHA_TO_BUILD_AND_TEST }}
        status: ${{ job.status }}
        context: ${{ env.STATUS_CHECK_MESSAGE }}
