# Takes in how to bump version as input
# Commits changes to bump version and outputs the new version and commit hash as output

name: Bump version

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      ref:
        required: false
        description: Commit to bump off of
        type: string
      # See workflow call hack in update-version.yml
      is_workflow_call:
        type: boolean
        default: true
        required: false
    secrets:
      CLIENT_BOT_PAT:
        required: true
    outputs:
      new_dev_version:
        value: ${{ jobs.get-new-dev-version.outputs.new_dev_version }}
      new_stage_version:
        value: ${{ jobs.get-new-stage-version.outputs.new_stage_version }}
      bump_sha:
        value: ${{ jobs.update-version-in-repo.outputs.bump_sha }}

jobs:
  get-next-dev-jfrog-version:
    name: Get most recent JFrog version string
    runs-on: ubuntu-22.04
    outputs:
      dev_version: ${{ steps.get-next-dev-jfrog-version.outputs.dev_version }}
    steps:
    # Checkout the branch where we want to bump the new version
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Set up JFrog credentials
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://aerospike.jfrog.io
      with:
        oidc-provider-name: gh-aerospike-clients
        oidc-audience: aerospike/clients

    - name: Get jfrog version
      id: get-next-dev-jfrog-version
      run: |
        echo "dev_version=$(jfrog rt s "clients-npm-dev-local/aerospike/*" | jq -r '.[]?.path | capture("aerospike/(?<version>[^/]+)") | .version' | grep -v '^-$' | grep -v '^lib$' | grep -v 'rc' | sort -V | tail -n1)" >> $GITHUB_OUTPUT

    - name: Print jfrog version
      run: echo "Jfrog version is ${{ steps.get-next-dev-jfrog-version.outputs.dev_version }}"

  get-next-stage-jfrog-version:
    name: Get most recent JFrog version string
    runs-on: ubuntu-22.04
    outputs:
      stage_version: ${{ steps.get-next-stage-jfrog-version.outputs.stage_version }}
    steps:
    # Checkout the branch where we want to bump the new version
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Set up JFrog credentials
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://aerospike.jfrog.io
      with:
        oidc-provider-name: gh-aerospike-clients
        oidc-audience: aerospike/clients

    - name: Get jfrog version
      id: get-next-stage-jfrog-version
      run: |
        echo "stage_version=$(jfrog rt s "clients-npm-stage-local/aerospike/*" | jq -r '.[]?.path | capture("aerospike/(?<version>[^/]+)") | .version' | grep -v '^-$' | grep -v '^lib$' | sort -V | tail -n1)" >> $GITHUB_OUTPUT

    - name: Print jfrog version
      run: echo "Jfrog version is ${{ steps.get-next-stage-jfrog-version.outputs.stage_version }}"

  get-new-dev-version:
    runs-on: ubuntu-22.04
    needs: [
      get-next-dev-jfrog-version,
      get-next-stage-jfrog-version
    ]
    outputs:
      new_dev_version: ${{ steps.get-new-version.outputs.new_dev_version }}
    steps:

    # Checkout the branch where we want to bump the new version
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Install library that parses nodejs versions
    # NEED TO CHANGE THIS TO WORK WITH NODEJS
      run: npm install semver
      working-directory: .github/workflows

    - name: Get new version
      id: get-new-version
      run: |
        set -e
        new_dev_version=$(node bump-dev-version.js ${{ needs.get-next-dev-jfrog-version.outputs.dev_version }} )
        echo "new_dev_version=$new_dev_version" >> $GITHUB_OUTPUT
      working-directory: .github/workflows

    - name: Print new version
      run: |
        echo "${{ steps.get-new-version.outputs.new_dev_version }}"

  get-new-stage-version:
    runs-on: ubuntu-22.04
    needs: [
      get-next-dev-jfrog-version,
      get-next-stage-jfrog-version
    ]
    outputs:
      new_stage_version: ${{ steps.get-new-version.outputs.new_stage_version }}
    steps:

    # Checkout the branch where we want to bump the new version
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Install library that parses nodejs versions
    # NEED TO CHANGE THIS TO WORK WITH NODEJS
      run: npm install semver
      working-directory: .github/workflows


    - name: Get new version
      id: get-new-version
      run: |
        set -e
        new_stage_version=$(node bump-stage-version.js ${{ needs.get-next-stage-jfrog-version.outputs.stage_version }} ) 
        echo "new_stage_version=$new_stage_version" >> $GITHUB_OUTPUT
      working-directory: .github/workflows

    - name: Print new version
      run: |
        echo "${{ steps.get-new-version.outputs.new_stage_version }}"