# Takes in how to bump version as input
# Commits changes to bump version and outputs the new version and commit hash as output
name: Bump version

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      change:
        type: choice
        description: Python script name to update the version
        required: true
        options:
        - bump-dev-num
        - promote-dev-build-to-rc
        - promote-rc-build-to-release
  workflow_call:
    inputs:
      ref:
        required: false
        description: Commit to bump off of
        type: string
      # See workflow call hack in update-version.yml
      is_workflow_call:
        type: boolean
        default: true
        required: false
    secrets:
      CLIENT_BOT_PAT:
        required: true
    outputs:
      dev_version:
        value: ${{ jobs.get-jfrog-dev-version.outputs.dev_version }}
      bump_sha:
        value: ${{ jobs.update-version-in-repo.outputs.bump_sha }}

jobs:
  get-jfrog-dev-version:
    name: Get most recent JFrog version string
    runs-on: ubuntu-22.04
    outputs:
      dev_version: ${{ steps.get-jfrog-dev-version.outputs.dev_version }}
    steps:
    # Checkout the branch where we want to bump the new version
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Set up JFrog credentials
      uses: jfrog/setup-jfrog-cli@v4
      env:
        JF_URL: https://aerospike.jfrog.io
      with:
        oidc-provider-name: gh-aerospike-clients
        oidc-audience: aerospike/clients

    - name: Get jfrog version
      id: get-jfrog-dev-version
      run: |
        echo "dev_version=$(jfrog rt s "clients-npm-dev-local/aerospike/*" | jq -r '.[]?.path | capture("aerospike/(?<version>[^/]+)") | .version' | grep -v '^-$' | grep -v '^lib$' | sort -V | grep -v 'rc' | tail -n1)" >> $GITHUB_OUTPUT

    - name: Print jfrog version
      run: echo "Jfrog version is ${{ steps.get-jfrog-dev-version.outputs.dev_version }}"
