# Takes in a new version as input
# Changes the version in the whole repo and outputs the commit hash as output

name: Update version in repo
on:
  workflow_dispatch:
    inputs:
      new_version:
        type: string
        description: Version string to set in the repo
        required: true
  workflow_call:
    inputs:
      new_version:
        type: string
        description: Version string to set in the repo
        required: true
      is_workflow_call:
        type: boolean
        default: true
        required: false
    secrets:
      CLIENT_BOT_PAT:
        required: true
    outputs:
      bump_sha:
        value: ${{ jobs.update-version-in-repo.outputs.bump_sha }}

jobs:
  update-version-in-repo:
    name: Update version in repo
    runs-on: ubuntu-22.04
    outputs:
      bump_sha: ${{ steps.get-bump-commit-sha.outputs.bump_sha }}
    steps:
      
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.CLIENT_BOT_PAT }}
        ref: ${{ inputs.ref }}

    - name: Update version in repo
      uses: ./.github/actions/update-version
      with:
        new_version: ${{ inputs.new_version }}

    - name: Commit new version
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: 'Auto-bump version to ${{ inputs.new_version }} [skip ci]'
        commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        tagging_message: ${{ inputs.new_version }}
        branch: metrics-2025
        #branch: ${{ inputs.is_workflow_call && inputs.ref || github.ref }}

    - name: Output bump commit hash for next jobs to use
      id: get-bump-commit-sha
      run: echo "bump_sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
