name: 'Donwload github artifacts'
description: 'Download github artifacts for all supported versions'

on:
  workflow_call:
    inputs:
      nodejs-tags:
        type: string
        required: false
        default: '[["v115", "20"], ["v127", "22"], ["v137", "24"]]'

jobs:
  run-npm-install-and-require-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-13-large, SMA2, windows-2022]
        nodejs-tag: ${{ fromJSON(inputs.nodejs-tags) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Delete workspace
        if: ${{ matrix.os != 'windows-2022' }}
        run: rm -rf ${{ github.workspace }}/*

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.nodejs-tag[1] }}

      - name: verify runs and is aligned
        run: |
          npm install aerospike@6.3.0 --omit-dev;
          node -e "const Aerospike = require('aerospike'); console.log(Aerospike.policy.replica);"