# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Aerospike Node.js Windows Client Tests

on:
  push:
    branches:
      - master
      - maint/3.x
      - maint/4.x
      - gh-action
  pull_request:
    branches:
      - master
      - stage
      - maint/3.x
      - maint/4.x

jobs:
  #    setup:
  #    runs-on: ubuntu-latest
  #    steps:
  #    - name: Set up Aerospike Database
  #      uses: reugn/github-action-aerospike@v1

  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
           - 18.x
           - 20.x
    continue-on-error: true
    name: Node ${{ matrix.node-version }} tester
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses:
        with: actions/setup-python@v4
          python-version: '3.11'
      - name: Setup Windows SDK
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v1.11
        with:
          sdk-version: 17763
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update node-gyp
        run: |
          $WhereNode = Get-Command node | Select-Object -ExpandProperty Definition
          $NodeDirPath = Split-Path $WhereNode -Parent
          [Version]$npmVersion = npm --version
          if ($npmVersion -lt [Version]"7.0") {
            $NodeModulesPath = $NodeDirPath + "\node_modules\npm\node_modules\npm-lifecycle"
          } else {
            $NodeModulesPath = $NodeDirPath + "\node_modules\npm\node_modules\@npmcli\run-script"
          }
          cd $NodeModulesPath
          npm install node-gyp@10.x
      - name: Install nodejs Client
        shell: pwsh
        run: npm ci --unsafe-perm --build-from-source
          #      - name: Test nodejs client
          #        run: npm test
          #        env:
          #          AEROSPIKE_HOSTS: "127.0.0.1:3000"
          #          OPTIONS: "--timeout 30000 --set demp ${{ matrix.node }}"